* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*========= COLORS =========*/

:root {
    --Negrito: #707070;
    --NegritoHover: #535252;
    --BackRosita: #D9C2B9;
    --MarronTitulosyTexto: #975130;
    --TierraBotones: #B27C65;
    --TierraBotonesHover: #d18564;
    --Clarito: #F2EAE7;
}

/*========= HEADER =========*/

header {
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0px;
    background-color: rgba(250, 250, 250, 0.95);
    z-index: 30;
    margin: 0 auto;
    border: 1px solid rgba(250, 250, 250, 0.95);
}

#logo-name {
    order: -1;
}

#logo-name a{
    font-family: "elephant";
    font-size: 24px;
    line-height: 24px;
    color: var(--MarronTitulosyTexto);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

#logo-name a p:nth-child(2){
    font-family: "GothamLight";
    font-size: 13px;
    letter-spacing: 4px;
}

/*========= MENU =========*/

.menu {
    text-align: center;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.menu ul li{
    font-family: "GothamLight";
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 12px;
    margin: 0 20px;
}

.menu ul li a{
    color: var(--Negrito);
    text-decoration: none;
    display: inline-block;
    padding: 5px 3px;
}

.menu ul li a:hover{
    color: #000000;
    font-weight: 1000;
    cursor: pointer;
}

/*============ BOTÓN HAMBURGUESA ============*/

#hamburger {
    display: none;
}

/*======================================= SECCIONES =======================================*/

/* SOBRE MI */

.secciones .imagen-sobre-mi {
    background: url(../recursos/imagenes/header-sobre-mi.jpg) no-repeat right;
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
    margin: 0 auto 10%;
}

.flex-container-sobre-mi {
    display: flex;
    position: relative;
    margin: 40px 0 0;
}

.flex-container-sobre-mi::before{
    background-image: url(../recursos/imagenes/firulete-desktop2.png);
    background-size: 120px 170px;
    display: inline-block;
    width: 120px;
    height: 170px;
    position: absolute; 
    top: 40%;
    right: 2%;
    content: "";
    z-index: -1;
}

.flex-container-sobre-mi::after{
    background-image: url(../recursos/imagenes/firulete-desktop.png);
    background-size: 440px 170px;
    display: inline-block;
    width: 400px;
    height: 135px;
    position: absolute;
    left: 0px;
    bottom: 23%;
    content: "";
    z-index: 10;
}

.sobre-mi-foto {
    background: url(../recursos/imagenes/sobremi.jpg) no-repeat center;
    background-size: contain;
    height: 568px;
    width: 100%;
    position: absolute;
    top: -20px;
    right: 22%;
}

.container-titulo {
    background: #ffffff;
    padding: 0 5% 3% 40%;
    width: 85%;
    margin: 0 auto;
}

.parrafos-container {
    background: var(--TierraBotones);
    padding: 2% 5% 5% 40%;
    width: 85%;
    margin: 0 auto 5%;
}

.container-titulo{
    background: #ffffff;
}

.sobre-mi-container .parrafos{
    color: #ffffff;
    line-height: 30px;
}

/* NUTRICION */

.secciones .imagen-nutricion {
    background: url(../recursos/imagenes/nutricion.jpg) no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    height: 300px;
    margin: 0 auto 5%;
}

.no-dieta {
    width: 60%;
    margin-left: 15%;
    text-align: left;
}

.cita-nutricion {
    background-color: var(--TierraBotones);
    color: #ffffff;
    width: 90%;
    padding: 30px 60px 30px 20px;
    font-family: "GothamLight";
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
}

.cita-nutricion p:nth-of-type(1){
    text-align: center;
    margin-bottom: 8px;
    padding-left: 10%;
}

.cita-nutricion p:nth-of-type(2){
    text-align: right;
    margin-bottom: 8px;
}

.cita-nutricion p:nth-of-type(3){
    text-align: right;
    font-size: 13px;
}

.cinco-pilares {
    margin: 50px 0 30px 12%;
    width: 45%;
}

.cinco-pilares .titulo-5-pilares {
    font-family: "GothamLight";
    font-size: 17px;
    line-height: 22px;
    color: #ffffff;
    background-color: var(--BackRosita);
    text-align: left;
    padding: 20px 8%;
}

.slider {
    background-color: var(--BackRosita);
    color: #ffffff;
    text-align: left;
    padding: 10px;
}

.sliders .swiper-slide {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.slider span{
    font-family: "elephant";
    font-size: 45px;
    line-height: 45px;
    margin: 0 10px;
}

#slide-1 span{
    font-family: "elephant";
    font-size: 45px;
    line-height: 45px;
    margin-right: 20px;
}

.sliders p{
    font-family: "GothamLight";
    font-size: 15px;
    line-height: 18px;
    width: 75%;
    align-self: center;
}

.container-cinco-pilares {
    position: relative;
}

#paginador-blanco {
    display: block;
}

.parrafos-side-pilares {
    position: absolute;
    top: 20%;
    z-index: -1;
    background-color: var(--Clarito);
    color: var(--Negrito);
    padding: 30px 5% 30px 60%;
}

.parrafos-side-pilares p{
    margin-bottom: 20px;
    font-family: "GothamLight";
    font-size: 15px;
    line-height: 15px;
}

.plato-equilibrado-container {
    display: flex;
    align-items: center;
    margin: 50px 0;
}

#plato-equilibrado {
    order: -1;
    flex: 50%;
    text-align: right;
}

.parrafos-plato-equilibrado {
    flex: 70%;
}

.parrafos-plato-equilibrado p{
    padding: 0 10% 0 10%;
}

.consulta-nutricional {
    background-color: var(--TierraBotones);
    color: #ffffff;
    text-align: center;
    margin: 0 auto 50px;
    padding: 30px;
}

.consulta-nutricional > p {
    font-family: "GothamLight";
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto;
    width: 80%;
}

.container-beneficios-consulta {
    display: flex;
}

.consulta-nutricional .beneficios-consulta {
    width: 70%;
    margin: 40px auto 40px;
}

.consulta-nutricional .beneficios-consulta img{
    width: 128px;
    height: 128px;
}

.consulta-nutricional .beneficios-consulta p{
    font-family: "GothamLight";
    font-size: 20px;
    line-height: 20px;
    margin: 0 auto;
    width: 80%;
}

.parrafos-finales {
    display: flex;
    width: 100%;
    margin: 50px auto;
}

.parrafos-finales p:nth-of-type(1) {
    padding: 2% 5% 2% 10%;
}

.parrafos-finales p:nth-of-type(2) {
    padding: 2% 10% 2% 5%;
}

/* TALLERES Y CURSOS */

.secciones .imagen-talleres-y-cursos {
    background: url(../recursos/imagenes/talleres.jpg) no-repeat center;
    background-size: cover;
    height: 300px;
    margin: 0 auto 5%;
}

.talleres-intro .titulosH2, .talleres-intro .parrafo-intro {
    width: 60%;
    margin: 40px auto;
    text-align: center;
}

.talleres-ocultos {
    display: none;
}

.taller-numero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.taller {
    width: 200px;
}

.taller-contenedor {
    height: 353px;
    margin-top: 40px;
}
 
.talleres img {
    width: 100%;
    margin: 0 auto;
}

.talleres h3 {
    font-family: "GothamLight";
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    margin: 10px auto 15px;
    width: 95%;
    text-align: center;
}

.talleres h3:nth-of-type(1) {
    height: 40px;
}

.talleres p {
    font-family: "GothamLight";
    font-size: 14px;
    font-weight: 1;
    line-height: 18px;
    color: #ffffff;
    margin: 10px auto 15px;
    padding-bottom: 15px;
    width: 95%;
    text-align: center;
}

.taller-contenedor {
    margin-bottom: 10px;
    background-color: var(--BackRosita);
} 

.antropometria {
    background-color: var(--Clarito);
    padding: 50px 0 50px;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}

.separador-antropometria {
    background-color: var(--Clarito);
    display: block;
    width: 100%;
    height: 50px;
}

.antropometria h2{
    font-family: "elephant";
    font-size: 30px;
    font-weight: 1;
    line-height: 33px;
    color: var(--MarronTitulosyTexto);
    margin: 0 auto 30px;
    text-align: center;
}

.antropometria p{
    padding: 0 660px 0 5%;
    text-align: right;
}


.antropometria .imagen-antropometria {
    background: url(../recursos/imagenes/antropometria-desktop.jpg) no-repeat center;
    background-size: contain;
    height: 633.5px;
    width: 581.7px;
    margin-right: 3%;
    position: absolute;
    top: 110px;
    right: 0;
}

/* CATERING */

.secciones .imagen-catering {
    background: url(../recursos/imagenes/catering.jpg) no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    height: 300px;
    margin: 0 auto 5%;
}

.foto-catering-1 {
    background: url(../recursos/imagenes/catering-1.jpg) no-repeat center center;
}
.foto-catering-2 {
    background: url(../recursos/imagenes/catering-2.jpg) no-repeat center center;
}
.foto-catering-3 {
    background: url(../recursos/imagenes/catering-3.jpg) no-repeat center center;
}
.foto-catering-4 {
    background: url(../recursos/imagenes/catering-4.jpg) no-repeat center center;
}
.foto-catering-5 {
    background: url(../recursos/imagenes/catering-5.jpg) no-repeat center center;
}
.foto-catering-6 {
    background: url(../recursos/imagenes/catering-6.jpg) no-repeat center center;
}
.foto-catering-7 {
    background: url(../recursos/imagenes/catering-7.jpg) no-repeat center center;
}

.foto-catering{
    background-size: cover;
    height: 60vh;
    width: 100%;
    position: relative;
}

.grid-container {
    margin: 10px auto 80px;
}

.grid-item {
    width: 300px;
    object-fit: cover;
    margin-bottom: 12px;
    border-radius: 5px;
}

#item-1 {
    background: url(../recursos/imagenes/grilla-catering/tablet-desktop/1.jpg) no-repeat center center;
    height: 300px;
}

#item-2 {
    background: url(../recursos/imagenes/grilla-catering/tablet-desktop/2.jpg) no-repeat center center;
    height: 300px;
}

#item-3 {
    background: url(../recursos/imagenes/grilla-catering/tablet-desktop/3.jpg) no-repeat center center;
    height: 300px;
}

#item-4 {
    background: url(../recursos/imagenes/grilla-catering/tablet-desktop/4.jpg) no-repeat center center;
    height: 398px;
}

#item-5 {
    background: url(../recursos/imagenes/grilla-catering/tablet-desktop/5.jpg) no-repeat center center;
    height: 225px;
}

#item-6 {
    background: url(../recursos/imagenes/grilla-catering/tablet-desktop/6.jpg) no-repeat center center;
    height: 216px;
}

#item-7 {
    background: url(../recursos/imagenes/grilla-catering/tablet-desktop/7.jpg) no-repeat center center;
    height: 400px;
}

#item-8 {
    background: url(../recursos/imagenes/grilla-catering/tablet-desktop/8.jpg) no-repeat center center;
    height: 225px;
}

#item-9 {
    background: url(../recursos/imagenes/grilla-catering/tablet-desktop/9.jpg) no-repeat center center;
    height: 225px;
}

#item-10 {
    background: url(../recursos/imagenes/grilla-catering/tablet-desktop/10.jpg) no-repeat center center;
    height: 225px;
}

#item-11 {
    background: url(../recursos/imagenes/grilla-catering/tablet-desktop/11.jpg) no-repeat center center;
    height: 300px;
}

#item-12 {
    background: url(../recursos/imagenes/grilla-catering/tablet-desktop/12.jpg) no-repeat center center;
    height: 300px;
}

#item-13 {
    background: url(../recursos/imagenes/grilla-catering/tablet-desktop/13.jpg) no-repeat center center;
    height: 300px;
}

/*===================== SOBRE MI DEL INICIO =====================*/

.sobre-mi{
    background-color: var(--BackRosita);
    position: relative;
}

.sobre-mi::before{
    background-image: url(../recursos/imagenes/firulete-1.png);
    background-size: 148px 196px;
    display: inline-block;
    width: 148px;
    height: 196px;
    position: absolute;
    left: 0px;
    bottom: 20px;
    content: "";
}

.sobre-mi::after{
    background-image: url(../recursos/imagenes/firulete-2.png);
    background-size: 160px 90px;
    display: inline-block;
    width: 160px;
    height: 90px;
    position: absolute; 
    bottom: -45px;
    right: 0px;
    content: "";
}

.sobre-mi-div{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.sobre-mi-div .sobre-mi-foto-perfil {
    background: url(../recursos/imagenes/sobremi.jpg) no-repeat left;
    background-size: contain;
    height: 400px;
    width: 250.78px;
    position: absolute;
    top: 0px;
    left: 65%;
}

.sobre-mi-cita {
    text-align: right;
    flex: 55%;
    padding-left: 12%;
    padding-right: 40%;
    margin-top: 3%;
    height: 320px;
}

.sobre-mi p:nth-of-type(1) {
    margin: 20px 0;
    font-family: "elephant";
    font-size: 30px;
    line-height: 35px;
    color: var(--MarronTitulosyTexto);
}

.sobre-mi p:nth-of-type(2) {
    margin-bottom: 20px;
    font-family: "GothamBold";
    font-size: 20px;
    color: #ffffff;
}

.botones {
    font-family: "GothamLight";
    font-size: 15px;
    letter-spacing: 3px;
    color: #ffffff;
    background-color: var(--TierraBotones);
    border: none;
    padding: 8px 50px;
    border-radius: 40px;
}

.botones:hover {
    cursor: pointer;
    background-color: var(--TierraBotonesHover);
}

/*===================== NUTRICION DEL INICIO =====================*/

.nutricion {
    width: 75%;
    margin: 120px auto 80px;
    text-align: center;
    padding: 20px 0 40px;
}

.parrafo-metodo {
    font-family: "GothamLight";
    font-weight: bold;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 3px;
    color: var(--MarronTitulosyTexto);
}

.titulo-mayuscula {
    font-family: "elephant";
    font-size: 40px;
    font-weight: 1;
    line-height: 47px;
    color: var(--MarronTitulosyTexto)
}

.parrafos {
    font-family: "GothamLight";
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: var(--Negrito);
    margin: 30px 0 35px;
}

.nutricion .parrafos {
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
}

/*===================== TALLERES Y CURSOS DEL INICIO =====================*/

.talleres-y-cursos {
    background-color: var(--Clarito);
    padding: 80px 0;
    display: flex;
    position: relative;
}

.intro {
    width: 70%;
    text-align: right;
    flex: 60%;
    padding: 0 15px;
}

.titulosH2 {
    font-family: "elephant";
    font-size: 40px;
    line-height: 45px;
    color: var(--MarronTitulosyTexto);
    font-weight: 1;
}

.intro .titulosH2 {
    width: 90%;
    margin: 0 auto 20px;
    padding-left: 20%;
}

.intro .parrafos {
    width: 90%;
    text-align: right;
    margin: 40px auto;
    padding-left: 20%;
}

.flex-item-talleres-foto {
    width: 100%;
    order: 5;
    flex: 60%;
}

.talleres-y-cursos .talleres-foto{
    background: url(../recursos/imagenes/talleres-mobile.png) no-repeat center;
    background-size: cover;
    height: 230px;
    width: 100%;
}

#talleres-boton {
    margin: 0 auto;
    text-align: center;
    order: 3;
    position: absolute;
    top: 72%;
    left: 30%;
}

/*===================== CATERING DEL INICIO =====================*/

.catering {
    width: 85%;
    margin: 30px auto;
    padding: 40px 0 40px;
    text-align: center;
}

.catering .parrafos {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/*===================== CONSULTAS ONLINE DEL INICIO =====================*/

.consultas-online {
    background: url(../recursos/imagenes/cherrysBackground.jpg) no-repeat left center;
    background-size: cover;
    background-attachment: fixed;
}

.consultas-online .div-consultas {
    width: 50%;
    background-color: var(--BackRosita);
    opacity: 0.93;
    margin: 0 auto;
    padding: 20px 3px 10px;
    text-align: center;
}

.consultas-online .titulosH2 {
    margin-top: 30px;
}

.consultas-online .parrafo-cita {
    font-family: "GothamMedium";
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 3px;
    color: var(--MarronTitulosyTexto);
    margin: 10px auto; 
    padding: 5px 10px 10px 10px;
    width: 70%;
    border-bottom: 1px solid var(--MarronTitulosyTexto);
}

.div-parrafos span {
    font-family: "GothamMedium";
    font-weight: 1000;
}

#parrafo-1, #parrafo-2, #parrafo-3 {
    font-family: "GothamLight";
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    color: var(--Negrito);
    margin: 15px auto; 
    padding: 10px;
    width: 95%;
}

.contacto {
    font-family: "GothamLight";
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    width: 50%;
    background-color: var(--MarronTitulosyTexto);
    margin: 0 auto;
    padding: 20px 3px 20px;
}

.contacto div{
    margin-top: 12px;
    display: flex;
    justify-content: center;
}


.contacto img:hover {
    transform: scale(0.9);
}

.contacto a{
    text-decoration: none;
    color: #ffffff;
}

.contacto a:nth-of-type(2){
    margin-left: 5px;
}

/*===================== FOOTER =====================*/

footer {
    background-color: var(--Negrito);
    height: 150px;
    position: relative;
    display: flex;
}

#footer-primer-div{
    width: 95%;
    margin: 0 auto 50px;
    padding: 10px 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo-name-footer a{
    font-family: "elephant";
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

#logo-name-footer a p:nth-child(2){
    font-family: "GothamLight";
    font-size: 11px;
    letter-spacing: 4px;
}

#div-redes {
    position: absolute;
    top: 65%;
    left: 79%;
}

#div-redes img:hover {
    transform: scale(0.9);
}

#div-lista-footer ul{
    display: flex;
}
#div-lista-footer ul li{
    list-style: none;
    font-family: "GothamLight";
    font-size: 10px;
    font-weight: bold;
    line-height: 13px;
    letter-spacing: 3px;
    padding: 0px 7px 0px;
    margin: 0 10px;
}

#div-lista-footer ul li a{
    text-decoration: none;
    color: #ffffff;
}

#div-lista-footer ul li a:hover{
    cursor: pointer;
    color: #ffffffbd;
    font-weight: 1000;
}