* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*========= COLORS =========*/

:root {
    --Negrito: #707070;
    --BackRosita: #D9C2B9;
    --MarronTitulosyTexto: #975130;
    --TierraBotones: #B27C65;
    --TierraBotonesHover: #d18564;
    --Clarito: #F2EAE7;
}

/*========= HEADER =========*/

header {
    position: sticky;
    top: 0px;
    background-color: rgba(250, 250, 250, 0.95);
    z-index: 30;
}

#logo-name {
    padding: 25px 0 0 20px;
}

#logo-name a{
    font-family: "elephant";
    font-size: 20px;
    line-height: 20px;
    color: var(--MarronTitulosyTexto);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

#logo-name a p:nth-child(2){
    font-family: "GothamLight";
    font-size: 10px;
    letter-spacing: 4px;
}

/*========= MENU =========*/

.menu {
    display: none;
    text-align: left;
    position: absolute;
    left: 0px;
    bottom: calc(-100vh + 65.1px);
    background-color: rgba(250, 250, 250, 0.95);
    width: 100%;
    height: calc(100vh - 65px);
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li{
    font-family: "GothamLight";
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 16px;
}

.menu ul li a{
    margin: 0 0 0 30px;
    padding: 30px 10px 10px 0px;
    color: var(--Negrito);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

/*============ BOTÓN HAMBURGUESA ============*/
/* ESTATICO HAMBURGUESA */

#hamburger {
    padding: 25px 0px 20px 20px;
    position: absolute;
}

#hamburger:hover {
    cursor: pointer;
}

.hamburger {
    min-height: 30px;
    max-width: 50px;
    margin-right: 60px;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: var(--MarronTitulosyTexto);
    position: absolute;
    width: 30px;
    height: 3.7px;
    border-radius: 25px;
    content: '';
    transition-timing-function: ease;
    transition-duration: .3s;
    transition-property: transform,opacity;
}
.hamburger-inner:before {
    top: 10px;
}
.hamburger-inner:after {
    top: 20px;
}

/* CONVERSION A CRUZ*/

.hamburger.open .hamburger-inner {
    transform: translate3d(0, 9px, 0) rotate(45deg);
}
.hamburger.open .hamburger-inner:after {
    display: none;
}
.hamburger.open .hamburger-inner:before {
    transform: translate3d(0, -9px, 0) rotate(90deg);
}

/*======================================= SECCIONES =======================================*/

.secciones .div-imagen {
    overflow: hidden;
    margin: 0px auto 20px;
    height: 150px;
}

.secciones .div-contenido{
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

/* SOBRE MI */

.secciones .imagen-sobre-mi {
    background: url(../recursos/imagenes/sobremi-mobile.png) no-repeat top center;
}

/* NUTRICION */

.secciones .imagen-nutricion {
    background: url(../recursos/imagenes/nutricion-mobile.png) no-repeat center;
    background-size: cover;
}

.cita-nutricion {
    display: none;
}

.cinco-pilares {
    margin: 10px auto 30px;
}

.cinco-pilares .titulo-5-pilares {
    font-family: "GothamLight";
    font-size: 15px;
    line-height: 20px;
    color: var(--Negrito);
    background-color: var(--Clarito);
    text-align: center;
    padding: 10px 5px;
}

.slider {
    background-color: var(--BackRosita);
    color: #ffffff;
    text-align: center;
    display: flex;
    position: relative;
}

.slider span{
    font-family: "elephant";
    font-size: 65px;
    line-height: 85px;
    margin: 0 auto;
}

.sliders p{
    font-family: "GothamLight";
    font-size: 15px;
    line-height: 16px;
    margin: 0 auto;
    width: 75%;
}

#slide-1, #slide-2, #slide-3, #slide-4, #slide-5 {
    padding: 30px 17px;
    margin: 0 auto;
    height: 280px;
}

#slide-4 p, #slide-5 p{
    width: 92%;
}

.parrafos-side-pilares {
    display: none;
}

#plato-equilibrado {
    width: 90%;
    margin: 20px auto 10px;
    text-align: center;
}

.consulta-nutricional {
    background-color: var(--TierraBotones);
    color: #ffffff;
    text-align: center;
    margin: 0 auto 50px;
    padding: 30px;
}

.consulta-nutricional p {
    font-family: "GothamLight";
    font-size: 16px;
    line-height: 16px;
    margin: 0 auto;
}

.consulta-nutricional .beneficios-consulta {
    width: 70%;
    margin: 40px auto 30px;
}

.consulta-nutricional .beneficios-consulta img{
    width: 128px;
    height: 128px;
}

/* TALLERES Y CURSOS */

.secciones .imagen-talleres-y-cursos {
    background: url(../recursos/imagenes/talleres-mobile.png) no-repeat center;
    background-size: cover;
}

.talleres img {
    width: 257px;
    margin: 0 auto;
}

.talleres h3 {
    font-family: "GothamLight";
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;
    margin: 10px auto 15px;
    width: 95%;
}

.talleres p {
    font-family: "GothamLight";
    font-size: 14px;
    font-weight: 1;
    line-height: 16px;
    color: #ffffff;
    margin: 10px auto 15px;
    padding-bottom: 15px;
    width: 95%;
}

.taller-contenedor {
    margin: 0 auto 10px;
    width: 257px;
    height: 350px;
    background-color: var(--BackRosita);
}

#taller-1, #taller-2, #taller-3, #taller-4, #taller-5 {
    height: 400px;
    margin: 0 auto;
    padding: 20px;
}

.myTaller {
    display: none;
}

.antropometria {
    background-color: var(--Clarito);
    padding: 40px 0 30px;
}

.antropometria div:nth-of-type(1), .antropometria div:nth-of-type(3) {
    width: 83%;
    margin: 0 auto;
    text-align: center;
}

.antropometria h2{
    font-family: "elephant";
    font-size: 30px;
    font-weight: 1;
    line-height: 33px;
    color: var(--MarronTitulosyTexto);
    margin: 0 0 30px;
}

.antropometria .imagen-antropometria {
    background: url(../recursos/imagenes/antropometria-mobile.jpg) no-repeat center;
    height: 371px;
}

/* CATERING */

.secciones .imagen-catering {
    background: url(../recursos/imagenes/catering-mobile.png) no-repeat center;
    background-size: cover;
}

.foto-catering-1 {
    background: url(../recursos/imagenes/catering-1.jpg) no-repeat center center;
}
.foto-catering-2 {
    background: url(../recursos/imagenes/catering-2.jpg) no-repeat center center;
}
.foto-catering-3 {
    background: url(../recursos/imagenes/catering-3.jpg) no-repeat center center;
}
.foto-catering-4 {
    background: url(../recursos/imagenes/catering-4.jpg) no-repeat center center;
}
.foto-catering-5 {
    background: url(../recursos/imagenes/catering-5.jpg) no-repeat center center;
}
.foto-catering-6 {
    background: url(../recursos/imagenes/catering-6.jpg) no-repeat center center;
}
.foto-catering-7 {
    background: url(../recursos/imagenes/catering-7.jpg) no-repeat center center;
}

.foto-catering{
    background-size: cover;
    height: 250px;
    position: relative;
}

.grid-container {
    margin: 10px auto 40px;
    padding: 5px;
}

.grid-item {
    width: 100px;
    object-fit: cover;
    margin-bottom: 5px;
    border-radius: 5px;
}

#item-1 {
    background: url(../recursos/imagenes/grilla-catering/mobile/imagen-1.jpg) no-repeat center center;
    height: 100px;
}

#item-2 {
    background: url(../recursos/imagenes/grilla-catering/mobile/imagen-2.jpg) no-repeat center center;
    height: 100px;
}

#item-3 {
    background: url(../recursos/imagenes/grilla-catering/mobile/imagen-3.jpg) no-repeat center center;
    height: 100px;
}

#item-4 {
    background: url(../recursos/imagenes/grilla-catering/mobile/imagen-4.jpg) no-repeat center center;
    height: 132.77px;
}

#item-5 {
    background: url(../recursos/imagenes/grilla-catering/mobile/imagen-5.jpg) no-repeat center center;
    height: 75px;
}

#item-6 {
    background: url(../recursos/imagenes/grilla-catering/mobile/imagen-6.jpg) no-repeat center center;
    height: 75px;
}

#item-7 {
    background: url(../recursos/imagenes/grilla-catering/mobile/imagen-7.jpg) no-repeat center center;
    height: 132.77px;
}

#item-8 {
    background: url(../recursos/imagenes/grilla-catering/mobile/imagen-8.jpg) no-repeat center center;
    height: 75px;
}

#item-9 {
    background: url(../recursos/imagenes/grilla-catering/mobile/imagen-9.jpg) no-repeat center center;
    height: 75px;
}

#item-10 {
    background: url(../recursos/imagenes/grilla-catering/mobile/imagen-10.jpg) no-repeat center center;
    height: 75px;
}

#item-11 {
    background: url(../recursos/imagenes/grilla-catering/mobile/imagen-11.jpg) no-repeat center center;
    height: 100px;
}

#item-12 {
    background: url(../recursos/imagenes/grilla-catering/mobile/imagen-12.jpg) no-repeat center center;
    height: 100px;
}

#item-13 {
    background: url(../recursos/imagenes/grilla-catering/mobile/imagen-13.jpg) no-repeat bottom left;
    height: 75px;
}

/*===================== SOBRE MI DEL INICIO =====================*/

.sobre-mi{
    background-color: var(--BackRosita);
    position: relative;
    overflow: hidden;
}

.sobre-mi::before{
    content: url(../recursos/imagenes/firulete-mobile.png);
    display: block;
    position: absolute;
    left: 0px;
    top: 18px;
}

.sobre-mi::after{
    content: url(../recursos/imagenes/firulete-mobile2.png);
    display: block;
    position: absolute;
    right: -16px;
    bottom: 10px;
}

.sobre-mi h2{
    display: none;
}

.sobre-mi-div{
    margin: 20px auto;
    padding: 20px 0 40px;
    width: 75%;
    text-align: center;
    position: relative;
}

.sobre-mi-div .sobre-mi-foto-perfil {
    background: url(../recursos/imagenes/perfil-mobile.png) no-repeat center;
    height: 122px;
}

.sobre-mi p:nth-of-type(1) {
    margin: 10px 0;
    font-family: "elephant";
    font-size: 20px;
    line-height: 25px;
    color: var(--MarronTitulosyTexto);
}

.sobre-mi p:nth-of-type(2) {
    margin-bottom: 20px;
    font-family: "GothamBold";
    font-size: 15px;
    color: #ffffff;
}

.botones {
    font-family: "GothamLight";
    font-size: 13px;
    letter-spacing: 3px;
    color: #ffffff;
    background-color: var(--TierraBotones);
    border: none;
    padding: 10px 50px;
    border-radius: 40px;
    display: inline-block;
}

.botones:hover {
    cursor: pointer;
    background-color: var(--TierraBotonesHover);
}

/*===================== NUTRICION DEL INICIO =====================*/

.nutricion {
    width: 75%;
    margin: 20px auto;
    text-align: center;
    padding: 20px 0 40px;
}

.parrafo-metodo {
    font-family: "GothamLight";
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 3px;
    color: var(--MarronTitulosyTexto);
}

.titulo-mayuscula {
    font-family: "elephant";
    font-size: 35px;
    font-weight: 1;
    line-height: 45px;
    color: var(--MarronTitulosyTexto)
}

.parrafos {
    font-family: "GothamLight";
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: var(--Negrito);
    margin: 20px 0 25px;
}

/*===================== TALLERES Y CURSOS DEL INICIO =====================*/

.talleres-y-cursos {
    background-color: var(--Clarito);
    padding: 40px 0 40px;
}

.talleres-y-cursos .intro {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.titulosH2 {
    font-family: "elephant";
    font-size: 35px;
    line-height: 35px;
    color: var(--MarronTitulosyTexto);
    font-weight: 1;
}

.talleres-y-cursos h2 span{
    display: block;
}

.talleres-y-cursos .talleres-foto{
    background: url(../recursos/imagenes/talleres-mobile.png) no-repeat center;
    background-size: cover;
    height: 230px;
    width: 100%;
    margin-bottom: 30px;
}

#talleres-boton {
    margin: 0 auto;
    text-align: center;
}

/*===================== CATERING DEL INICIO =====================*/

.catering {
    width: 85%;
    margin: 0 auto;
    padding: 40px 0 40px;
    text-align: center;
}

/*===================== CONSULTAS ONLINE DEL INICIO =====================*/

.consultas-online {
    background: url(../recursos/imagenes/cherrysBackground.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.consultas-online .div-consultas {
    width: 90%;
    background-color: var(--BackRosita);
    opacity: 0.93;
    margin: 0 auto;
    padding: 20px 3px 10px;
    text-align: center;
}

.consultas-online .parrafo-cita {
    font-family: "GothamMedium";
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 3px;
    color: var(--MarronTitulosyTexto);
    margin: 10px auto 20px; 
    padding: 5px 10px 10px 10px;
    width: 85%;
    border-bottom: 1px solid var(--MarronTitulosyTexto);
}

.div-parrafos span {
    font-family: "GothamMedium";
    font-weight: 1000;
}

#parrafo-1, #parrafo-2, #parrafo-3 {
    font-family: "GothamLight";
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    color: var(--Negrito);
    margin: 0px auto 20px; 
    padding: 10px;
    width: 90%;
    height: 220px;
    overflow: auto;
}

.contacto {
    display: none;
}

/*===================== FOOTER =====================*/

footer {
    background-color: var(--Negrito);
    position: relative;
}

footer div:nth-of-type(1){
    width: 95%;
    margin: 0 auto;
    padding: 10px 0 10px;
    display: flex;
    justify-content: space-between;
}

#logo-name-footer {
    margin-left: 10%;
}

#logo-name-footer a{
    font-family: "elephant";
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

#logo-name-footer a p:nth-child(2){
    font-family: "GothamLight";
    font-size: 10px;
    letter-spacing: 4px;
}

#div-redes {
    position: absolute;
    top: 60%;
    left: 15%;
}

#div-redes img{
    width: 30px;
}

#div-lista-footer {
    border-left: 1px solid #ffffff;
}

#div-lista-footer ul li{
    list-style: none;
    padding: 0px 7px 7px 15px;
    margin-top: 10px;
    font-family: "GothamLight";
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 3px;
}

#div-lista-footer ul li a{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}