* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*========= COLORS =========*/

:root {
    --Negrito: #707070;
    --NegritoHover: #535252;
    --BackRosita: #D9C2B9;
    --MarronTitulosyTexto: #975130;
    --TierraBotones: #B27C65;
    --TierraBotonesHover: #d18564;
    --Clarito: #F2EAE7;
}

/*========= HEADER =========*/

header {
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: rgba(250, 250, 250, 0.95);
    z-index: 30;
    margin: 0 auto;
    border: 1px solid rgba(250, 250, 250, 0.95);
}

#logo-name {
    order: -1;
}

#logo-name a{
    font-family: "elephant";
    font-size: 18px;
    line-height: 18px;
    color: var(--MarronTitulosyTexto);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

#logo-name a p:nth-child(2){
    font-family: "GothamLight";
    font-size: 10px;
    letter-spacing: 4px;
}

/*========= MENU =========*/

.menu {
    text-align: center;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.menu ul li{
    font-family: "GothamLight";
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 11px;
    margin: 0 6px;
}

.menu ul li a{
    color: var(--Negrito);
    text-decoration: none;
    display: inline-block;
    padding: 5px 3px;
}

.menu ul li a:hover{
    color: #000000;
    font-weight: 1000;
    cursor: pointer;
}

/*============ BOTÓN HAMBURGUESA ============*/

#hamburger {
    display: none;
}

/*======================================= SECCIONES =======================================*/

/* SOBRE MI */

.secciones .imagen-sobre-mi {
    background: url(../recursos/imagenes/sobremi-background.png) no-repeat center;
    height: 150px;
    margin: 0 auto 10%;
}

.flex-container-sobre-mi {
    display: flex;
    position: relative;
    margin: 40px 0 0;
}

.sobre-mi-foto {
    background: url(../recursos/imagenes/sobremi.jpg) no-repeat center;
    background-size: contain;
    height: 449px;
    width: 100%;
    position: absolute;
    top: -20px;
    right: 26%;
}

.container-titulo {
    background: #ffffff;
    padding: 0 5% 3% 40%;
    width: 85%;
    margin: 0 auto;
}

.parrafos-container {
    background: var(--TierraBotones);
    padding: 2% 5% 5% 40%;
    width: 85%;
    margin: 0 auto 10%;
}

.container-titulo{
    background: #ffffff;
}

.sobre-mi-container .parrafos{
    color: #ffffff;
}


/* NUTRICION */

.secciones .imagen-nutricion {
    background: url(../recursos/imagenes/nutricion-background.jpg) no-repeat center;
    height: 150px;
    margin: 0 auto 10%;
}

.no-dieta {
    width: 60%;
    margin-left: 15%;
    text-align: left;
}

.cita-nutricion {
    background-color: var(--TierraBotones);
    color: #ffffff;
    width: 90%;
    padding: 20px 60px 20px 20px;
    font-family: "GothamLight";
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
}

.cita-nutricion p:nth-of-type(1){
    text-align: center;
    margin-bottom: 8px;
    padding-left: 10%;
}

.cita-nutricion p:nth-of-type(2){
    text-align: right;
    margin-bottom: 8px;
}

.cita-nutricion p:nth-of-type(3){
    text-align: right;
    font-size: 13px;
}

.cinco-pilares {
    margin: 50px 0 30px 12%;
    width: 45%;
}

.cinco-pilares .titulo-5-pilares {
    font-family: "GothamLight";
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    background-color: var(--BackRosita);
    text-align: left;
    padding: 20px 8%;
}

.slider {
    background-color: var(--BackRosita);
    color: #ffffff;
    text-align: left;
    padding: 10px;
}

.sliders .swiper-slide {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.slider span{
    font-family: "elephant";
    font-size: 45px;
    line-height: 45px;
    margin: 0 auto;
}

.sliders p{
    font-family: "GothamLight";
    font-size: 15px;
    line-height: 16px;
    width: 75%;
    align-self: center;
    padding-left: 10px;
}

.container-cinco-pilares {
    position: relative;
}

.parrafos-side-pilares {
    position: absolute;
    top: 20%;
    z-index: -1;
    background-color: var(--Clarito);
    color: var(--Negrito);
    padding: 30px 5% 30px 60%;
}

.parrafos-side-pilares p{
    margin-bottom: 20px;
    font-family: "GothamLight";
    font-size: 15px;
    line-height: 15px;
}

.plato-equilibrado-container {
    display: flex;
    align-items: center;
    position: relative;
    margin: 50px 0;
}

#plato-equilibrado {
    order: -1;
    position: absolute;
    top: 0;
    left: 8%;
}

.parrafos-plato-equilibrado p:nth-of-type(1){
    padding: 0 5% 0 55%;
}

.parrafos-plato-equilibrado p:nth-of-type(2){
    padding: 4% 5% 0 15%;
}

.consulta-nutricional {
    background-color: var(--TierraBotones);
    color: #ffffff;
    text-align: center;
    margin: 0 auto 50px;
    padding: 30px;
}

.consulta-nutricional > p {
    font-family: "GothamLight";
    font-size: 20px;
    line-height: 20px;
    margin: 0 auto;
    width: 80%;
}

.container-beneficios-consulta {
    display: flex;
}

.consulta-nutricional .beneficios-consulta {
    width: 70%;
    margin: 40px auto 40px;
}

.consulta-nutricional .beneficios-consulta img{
    width: 128px;
    height: 128px;
}

.consulta-nutricional .beneficios-consulta p{
    font-family: "GothamLight";
    font-size: 20px;
    line-height: 20px;
    margin: 0 auto;
    width: 80%;
}

.parrafos-finales {
    display: flex;
    width: 100%;
    margin: 50px auto;
}

.parrafos-finales p:nth-of-type(1) {
    padding: 2% 5% 2% 10%;
}

.parrafos-finales p:nth-of-type(2) {
    padding: 2% 10% 2% 5%;
}

/* TALLERES Y CURSOS */

.secciones .imagen-talleres-y-cursos {
    background: url(../recursos/imagenes/talleresycursos-background.jpg) no-repeat center;
    height: 150px;
    margin: 0 auto 10%;
}

.talleres-intro .titulosH2, .talleres-intro .parrafo-intro {
    width: 60%;
    margin: 20px auto;
    text-align: center;
}

.talleres-ocultos {
    display: none;
}

#taller-numero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.taller {
    width: 257px;
}

.taller-contenedor {
    height: 353px;
    margin-top: 40px;
}
 
.talleres img {
    width: 100%;
    margin: 0 auto;
}

.talleres h3 {
    font-family: "GothamLight";
    font-size: 17px;
    line-height: 20px;
    color: var(--MarronTitulosyTexto);
    margin: 10px auto 15px;
    width: 95%;
    text-align: center;
}

.talleres h3:nth-of-type(1) {
    height: 40px;
}

.talleres p {
    font-family: "GothamLight";
    font-size: 14px;
    line-height: 16px;
    color: var(--Negrito);
    margin: 10px auto 15px;
    padding-bottom: 15px;
    width: 95%;
    text-align: center;
}

.taller-contenedor {
    box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
} 

.antropometria {
    background-color: var(--Clarito);
    padding: 50px 0 50px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.antropometria div:nth-of-type(1) {
    width: 100%;
}

.antropometria div:nth-of-type(1), .antropometria div:nth-of-type(3) {
    width: 83%;
    margin: 0 auto;
    text-align: center;
}

.antropometria h2{
    font-family: "elephant";
    font-size: 30px;
    font-weight: 1;
    line-height: 33px;
    color: var(--MarronTitulosyTexto);
    margin: 0 0 30px;
}

.antropometria div:nth-of-type(3) {
    order: 2;
    width: 45%;
    text-align: right;
}

.antropometria .imagen-antropometria {
    background: url(../recursos/imagenes/antropometria.png) no-repeat center;
    height: 371px;
    width: 45%;
    order: 3;
    margin-right: 3%;
}

/* CATERING */

.secciones .imagen-catering {
    background: url(../recursos/imagenes/catering-background.jpg) no-repeat center;
}

.secciones .imagen-catering2 {
    background: url(../recursos/imagenes/catering-background2.png) no-repeat left;
    height: 277px;
}

.grid-container {
    margin: 10px auto 40px;
    padding: 5px;
}

.grid-item {
    width: 100px;
    object-fit: cover;
    margin-bottom: 5px;
}

/*===================== SOBRE MI DEL INICIO =====================*/

.sobre-mi{
    background-color: var(--BackRosita);
}

.sobre-mi-div{
    display: flex;
}

.sobre-mi-div .sobre-mi-foto-perfil {
    background: url(../recursos/imagenes/sobremi.jpg) no-repeat center;
    background-size: contain;
    height: 257px;
    order: 10;
    flex: 40%;
}

.sobre-mi-cita {
    text-align: right;
    flex: 60%;
    padding-left: 12%;
    margin-top: 3%;
}

.sobre-mi p:nth-of-type(1) {
    margin: 10px 0;
    font-family: "elephant";
    font-size: 20px;
    line-height: 25px;
    color: var(--MarronTitulosyTexto);
}

.sobre-mi p:nth-of-type(2) {
    margin-bottom: 20px;
    font-family: "GothamBold";
    font-size: 15px;
    color: #ffffff;
}

.botones {
    font-family: "GothamLight";
    font-size: 15px;
    letter-spacing: 3px;
    color: #ffffff;
    background-color: var(--TierraBotones);
    border: none;
    padding: 8px 50px;
    border-radius: 40px;
}

.botones:hover {
    cursor: pointer;
    background-color: var(--TierraBotonesHover);
}

/*===================== NUTRICION DEL INICIO =====================*/

.nutricion {
    width: 75%;
    margin: 50px auto;
    text-align: center;
    padding: 20px 0 40px;
}

.parrafo-metodo {
    font-family: "GothamLight";
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 3px;
    color: var(--MarronTitulosyTexto);
}

.titulo-mayuscula {
    font-family: "elephant";
    font-size: 35px;
    font-weight: 1;
    line-height: 45px;
    color: var(--MarronTitulosyTexto)
}

.parrafos {
    font-family: "GothamLight";
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: var(--Negrito);
    margin: 20px 0 25px;
}

/*===================== TALLERES Y CURSOS DEL INICIO =====================*/

.talleres-y-cursos {
    background-color: var(--Clarito);
    padding: 40px 0 40px;
    display: flex;
    position: relative;
}

.intro {
    width: 70%;
    text-align: right;
    flex: 60%;
    padding: 0 15px;
}

.titulosH2 {
    font-family: "elephant";
    font-size: 35px;
    line-height: 35px;
    color: var(--MarronTitulosyTexto);
    font-weight: 1;
}

.intro .titulosH2 {
    width: 90%;
    margin: 0 auto 20px;
}

.intro .parrafos {
    width: 90%;
    text-align: right;
    margin: 20px auto;
    padding-left: 20%;
}

.flex-item-talleres-foto {
    width: 100%;
    order: 5;
    flex: 40%;
}

.talleres-y-cursos .talleres-foto{
    background: url(../recursos/imagenes/talleres.png) no-repeat center top;
    background-size: contain;
    height: 240px;
    width: 100%;
}

#talleres-boton {
    margin: 0 auto;
    text-align: center;
    order: 3;
    position: absolute;
    top: 70%;
    left: 30%;
}

/*===================== CATERING DEL INICIO =====================*/

.catering {
    width: 85%;
    margin: 50px auto;
    padding: 40px 0 40px;
    text-align: center;
}

/*===================== CONSULTAS ONLINE DEL INICIO =====================*/

.consultas-online {
    background: url(../recursos/imagenes/cherrysBackground.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.consultas-online .div-consultas {
    width: 70%;
    background-color: var(--BackRosita);
    opacity: 0.93;
    margin: 0 auto;
    padding: 20px 3px 10px;
    text-align: center;
}

.consultas-online .titulosH2 {
    margin-top: 30px;
}

.consultas-online .parrafo-cita {
    font-family: "GothamMedium";
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 3px;
    color: var(--MarronTitulosyTexto);
    margin: 10px auto; 
    padding: 5px 10px 10px 10px;
    width: 70%;
    border-bottom: 1px solid var(--MarronTitulosyTexto);
}

.div-parrafos span {
    font-family: "GothamMedium";
    font-weight: 1000;
}

#parrafo-1, #parrafo-2, #parrafo-3 {
    font-family: "GothamLight";
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: var(--Negrito);
    margin: 15px auto; 
    padding: 10px;
    width: 95%;
}

.contacto {
    font-family: "GothamLight";
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    width: 70%;
    background-color: var(--MarronTitulosyTexto);
    margin: 0 auto;
    padding: 20px 3px 20px;
}

.contacto div{
    margin-top: 12px;
    display: flex;
    justify-content: center;
}


.contacto img:hover {
    transform: scale(0.9);
}

.contacto a{
    text-decoration: none;
    color: #ffffff;
}

.contacto a:nth-of-type(2){
    margin-left: 5px;
}
.contacto a:nth-of-type(2):hover{
    border-bottom: 1px solid #ffffff;
}

/*===================== FOOTER =====================*/

footer {
    background-color: var(--Negrito);
    height: 150px;
    position: relative;
    display: flex;
}

#footer-primer-div{
    width: 95%;
    margin: 0 auto 50px;
    padding: 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-name-footer a{
    font-family: "elephant";
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

#logo-name-footer a p:nth-child(2){
    font-family: "GothamLight";
    font-size: 10px;
    letter-spacing: 4px;
}

#div-redes {
    position: absolute;
    top: 65%;
    left: 80%;
}

#div-redes img:hover {
    transform: scale(0.9);
}

#div-lista-footer ul{
    display: flex;
}
#div-lista-footer ul li{
    list-style: none;
    font-family: "GothamLight";
    font-size: 10px;
    font-weight: bold;
    line-height: 13px;
    letter-spacing: 3px;
    padding: 0px 7px 0px;
}

#div-lista-footer ul li a{
    text-decoration: none;
    color: #ffffff;
}

#div-lista-footer ul li a:hover{
    cursor: pointer;
    color: #ffffffbd;
    font-weight: 1000;
}